<!DOCTYPE html>
<html>
<head>
	<title>Editing <%=pokemon.name%></title>
</head>
<body>
	<h1>Editing <%=pokemon.name%></h1>

	<form action="/pokemon/<%=id%>?_method=PUT" method="POST">
		<input type="text" name="name" value="<%=pokemon.name%>">Name</input><br>
		<input type="text" name="img" value="<%=pokemon.img%>">Image link</input><br>
		<button type="submit">Submit</button>
	</form>
</body>
</html>